@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

*
{
    margin: 0;
    padding: 0;
}

body
{
    font-family: 'Roboto Slab', serif;
}


.div-1
{
    background-color: #1F2937;
}

#header-logo
{
    font-size: 24px;
    color: #f9faf8;
}

.header-link 
{
    font-size: 18px;
    color: #e5e7eb;
    margin: 10px;
}

.navbar
{
    display: flex;
    flex-direction: row;
}

ul
{
    display: flex;
    flex-direction: row;
}
.navbar-left
{
    display: flex;
    width: 50%;
    justify-content: center;
    align-items: center;
}

.navbar-right
{
    display: flex;
    width: 50%;
    justify-content: center;
    align-items: center;
}

h1
{
    font-size: 48px;
    font-weight: bolder;
    color: #f9faf8;
}

p
{
    color: #e5e7eb;
    font-size: 18px;
}
button
{
    background-color: #3882f6;
    color: white;
    width: 70px;
    height: 40px;
    border-radius: 10px;
}
.content
{
    display: flex;
    flex-direction: row;
}
 .content-left,.content-right
 {
 display: flex;
 justify-content: center;
     flex-direction: column;
 width: 50%;
 }

 .content-left
 {
    display: flex;
    flex-direction: column;
    width: 50%;
    justify-content: center;
    margin-left: 150px;
 }

 img
 {
    margin: 50px;
 }
 
.p-first
{
    font-size: 18px;
    color:#e5e7eb
}

h2
{
    font-size: 36px;
    font-weight: bolder;
    color: #1F2937;
    text-align: center;
    margin: 20px;
}

.row-of-blue-divs
{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-top: 40px;
    
}
.box-blue
{
    border: 3px solid #3882f6;
    width: 150px;
    height: 150px;
    border-radius: 5px;
}

.p-section
{
    text-align: center;
    font-size: 18px;
    color: black;

}

.div-3
{
    margin:0px;
    background-color: #e5e7eb;
    display: flex;
    justify-content: space-around;
    flex-direction: column;
}

.quote {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: #E5E7EB;
    padding: 7em 13em;
}



h3
{
    font-size: 36px;
    color: #1F2937;
    font-style: italic;
    font-weight: lighter;
    text-align: center;
}

#p-div
{
    align-self: flex-end;
    font-weight: bolder;
    font-size: 24px;
    color: #1f2937;
}
.p-third
{
    font-size: 18px;
    color: #1F2937;
    font-weight: bold;
    margin-right: 300px;
   
}

.sign-up {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5em 13em;
}

.container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #3882F6;
    padding: 3em;
    width: 100%;
    border-radius: 10px;
}

.container button {
    border: 2px solid #FFF;
}

strong {
    font-size: 24px;
    color: #FFF;
}
.footerino {
    background-color: #1f2937;
    color: #FFF;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2em 0;
}