@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

*
{
    margin: 0;
    padding: 0;
}

body
{
    font-family: 'Roboto Slab', serif;
}


.div-1
{
    background-color: #1F2937;
}

#header-logo
{
    font-size: 24px;
    color: #f9faf8;
}

.header-link 
{
    font-size: 18px;
    color: #e5e7eb;
    margin: 10px;
}

.navbar
{
    display: flex;
    flex-direction: row;
}

ul
{
    display: flex;
    flex-direction: row;
}
.navbar-left
{
    display: flex;
    width: 50%;
    justify-content: center;
    align-items: center;
}

.navbar-right
{
    display: flex;
    width: 50%;
    justify-content: center;
    align-items: center;
}

h1
{
    font-size: 48px;
    font-weight: bolder;
    color: #f9faf8;
}

p
{
    color: #e5e7eb;
    font-size: 18px;
}
button
{
    background-color: #3882f6;
    color: white;
}
.content
{
    display: flex;
    flex-direction: row;
}
 .content-left,.content-right
 {
 display: flex;
 justify-content: center;
 align-items: center;
 flex-direction: column;
 }